In [2]:
import quandl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression

In [11]:
quandl.ApiConfig.api_key = 'z3FizV5saWExRH-FhyUT'

#df = quandl.get('WIKI/AMZN', 'WIKI/HPE', 'WIKI/WFC', start_date="2010-12-31", end_date="2018-12-31")
df = quandl.get_table('ZACKS/FC', paginate=True, ticker=['AAPL', 'MSFT'], per_end_date={'gte': '2015-01-01'}, qopts={'columns':['ticker', 'per_end_date']})
#df = quandl.get('WIKI/AMZN')
#df = df[['Adj. Close']]
df.head(10)

     ticker per_end_date
None
0      AAPL   2018-09-30
1      AAPL   2018-03-31
2      AAPL   2018-06-30
3      AAPL   2018-09-30
4      AAPL   2018-12-31
5      MSFT   2018-06-30
6      MSFT   2018-03-31
7      MSFT   2018-06-30
8      MSFT   2018-09-30
9      MSFT   2018-12-31

In [12]:
df.tail(10)

     ticker per_end_date
None
0      AAPL   2018-09-30
1      AAPL   2018-03-31
2      AAPL   2018-06-30
3      AAPL   2018-09-30
4      AAPL   2018-12-31
5      MSFT   2018-06-30
6      MSFT   2018-03-31
7      MSFT   2018-06-30
8      MSFT   2018-09-30
9      MSFT   2018-12-31